body{
margin-right:auto;
margin-left:auto;
text-align:center;
color:white;
}

article{
width:67%;
height:250px;
background-color:pink;
float:left;
}

section{
margin-bottom:10px;
margin-top:10px;
height:100px;
background-color:red;
}

aside{
width:33%;
height:250px;
background-color:#00CCFF;
float:right;
}

footer{
height:25px;
background-color:green;
clear:both;
}
